bw/CacheUpdate/Schemas/data/County.xsd

<?xml version="1.0" encoding="utf-8" ?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://behaimits.com/vectren/bigdata/customer360view/County" xmlns="http://behaimits.com/vectren/bigdata/customer360view/County" elementFormDefault="qualified">
<xs:complexType name="CountyItemType"><xs:sequence>
<xs:element name="STVCNTY_CODE" type="xs:string" />
<xs:element name="COUNTY" type="xs:string" minOccurs="0" />
<xs:element name="TUPLE_ID" type="xs:float" minOccurs="0" />
</xs:sequence></xs:complexType><xs:element name="CountyItem" type="CountyItemType" /></xs:schema>
