bw/CacheUpdate/Schemas/data/MessageDef.xsd

<?xml version="1.0" encoding="utf-8" ?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://behaimits.com/vectren/bigdata/customer360view/MessageDef" xmlns="http://behaimits.com/vectren/bigdata/customer360view/MessageDef" elementFormDefault="qualified">
<xs:complexType name="MessageDefItemType"><xs:sequence>
<xs:element name="KEY" type="xs:string" minOccurs="0" />
<xs:element name="VALUE" type="xs:string" minOccurs="0" />
</xs:sequence></xs:complexType><xs:element name="MessageDefItem" type="MessageDefItemType" /></xs:schema>
